html, body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  margin: 16px;
  background: #a3a6a8;
  color: #e6eef8;
}

h1 {
  color: red;
  text-decoration: underline;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: black;            
    text-decoration: underline; 
    font-size: 18pt;         
    font-family: tahoma, helvetica, sans-serif;
}

p.centered {
  text-indent: 3mm;
  text-align: center;
  text-emphasis-color: red;
  text-emphasis-style: "*";
  text-shadow: 2px 2px yellow;
}

em {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}

.center-icon img {
  display: inline-block;
  margin: 0 auto;
}

.center-icon {
  text-align: center;
}

ol {
  border: thick solid purple;
  margin-bottom: 1em;
  margin-top: 1em;
  padding: 4ex;
  width: 50%;              
  background-color: aquamarine;
}

ul {
  margin-left: 1.2em;
}

.bee-image {
  text-align: center;
  margin: 12px 0;
}

table {
  border-collapse: collapse;
  width: 80%;
  margin: 12px 0;
}

table th, table td {
  border: 1px solid #ccc;
  padding: 8px;
}


table th {
  background-color: orange;
  color: black;
  padding: 8px;
  text-align: center;
  font-weight: bold;
}

pre {
  background: rgba(255, 255, 255, 0.04);
  padding: 10px;
  border-radius: 6px;
  width: 80%;
}

a {
  color: #8ecae6;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}
