h1 {
    font-size: 24pt;
    color: red;
    text-decoration: underline;
    font-family: tahoma, helvetica, sans-serif;
}
em {
    font-style: normal;
    color: red;
    background-color: yellow;
    font-weight: bold;
}
a:hover {
    text-decoration: none;
}
li:first-child {
    border: thick solid green;
    margin-bottom: 1em;
    margin-top: 1em;
    padding: 1ex;
    width: 40%;
}
p.centered {
text-indent: 3mm;
 text-align: center;
 text-emphasis-color: red;
 text-emphasis-style: "*";
 text-shadow: 2px 2px yellow;
}
[cite_start].center-icon { /* [cite: 26] */
    text-align: center; [cite_start]/* [cite: 27] */
}

[cite_start].center-icon img { /* [cite: 22] */
    display: inline-block; [cite_start]/* [cite: 24] */
    margin: 0 auto; [cite_start]/* [cite: 25] */
}
ol {
    border: thick solid purple; [cite_start]/* [cite: 32] */
    margin-bottom: 1em; [cite_start]/* [cite: 33] */
    margin-top: 1em; [cite_start]/* [cite: 34] */
    padding: 4ex; [cite_start]/* [cite: 35] */
    width: 50%; [cite_start]/* [cite: 36] */
    background-color: aquamarine; [cite_start]/* [cite: 37] */
}
[cite_start]table th { /* [cite: 40] */
    background-color: orange; [cite_start]/* [cite: 41] */
    color: black; [cite_start]/* [cite: 42] */
    padding: 8px; [cite_start]/* [cite: 43] */
    text-align: center; [cite_start]/* [cite: 44] */
    font-weight: bold; [cite_start]/* [cite: 45] */
}
