h1 {
    font-size: 24pt;
    color: red;
    text-decoration: underline;
    font-family: tahoma, helvetica, sans-serif;
}
em {
    font-style: normal;
    color: red;
    background-color: yellow;
    font-weight: bold;
}
